click
dlib
face-recognition
face-recognition-models
Flask
Flask-Cors
Flask-Login
flask-mongoengine
Flask-PyMongo
Flask-WTF
imutils
itsdangerous
Jinja2
matplotlib
MarkupSafe
mongoengine
pandas
pymongo
six
Werkzeug
WTForms
